/*
  The following pallete colours are also added as custom colours
  in tailwind.config.js as described here...
  https://tailwindcss.com/docs/customizing-colors#using-custom-colors
*/
$black: rgb(16, 16, 16);
$white: rgb(239, 239, 239);
$brand: rgb(255, 127, 0);
$brandRed: rgb(255, 77, 0);
$alt: rgb(255, 177, 0);
$accent: rgb(5, 178, 218);
$alert: rgb(255, 30, 0);

$background: lighten($black, 5%);