@use "../var/colour" as *;
@use "../var/font" as *;
@use "../var/layout" as *;

@use "../function/media" as *;
@use "../function/resize" as *;

@use "../global/font";
@use "../global/class";

* { position: inherit; }

body {
  font: normal normal $fontWeight #{$fontSize}/#{$lineHeight} $fontFamily;
  color: $white;
  background-color: darken($background, 2.5%);
  background-image: linear-gradient(220deg, $black 20%, rgba($background,1) 60%, rgba(black,1) 99%);
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.constrain {
  margin-left: auto;
  margin-right: auto;
  width: $widthXl;
  max-width: map-get($media, "lg");

  @include toWidth(lg) { width: $widthLg; } 
}

h1 {
  $fontSize: 2.6rem;

  font-size: $fontSize;
  font-weight: 600;
  letter-spacing: -0.05rem;
  line-height: 1.05;

  @include toWidth(sm) { font-size: resize($fontSize, 0.8); }
}
h2, h3 {
  font-weight: 500;
  margin-bottom: 1.0rem;
  letter-spacing: -0.02rem;
  line-height: 1.1;
}
h2 {
  $fontSize: 1.8rem;

  margin-top: 1.5rem;
  font-size: $fontSize;

  @include toWidth(sm) { font-size: resize($fontSize, 0.8); }
}
h3 {
  $fontSize: 1.4rem;

  margin-top: 1.5rem;
  font-size: $fontSize;

  @include toWidth(sm) { font-size: resize($fontSize, 0.8); }
}

@include toWidth(sm) { p { font-size: resize($fontSize, 0.9375); } }