@use "../var/colour" as *;

@use "../function/media" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  width: min(300px, 70vw);
  height: 60px;
  font-size: min(1.5rem, 5vw);
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
}