@use "../var/colour" as *;
@use "../var/layout" as *;
@use "../function/media" as *;

footer {
  height: $heightFooter;

  .constrain {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.0rem;
    justify-content: center;
    height: 100%;

    .copyright {
      font-size: 0.85rem;
      color: darken($white, 0.2);

      @include toWidth(sm) { font-size: 0.8rem; }
    }
  }
}
