@use "../var/colour" as *;
@use "../var/layout" as *;

@use "../function/media" as *;

@use "../component/menu" as *;

header {
  display: flex;
  align-items: center;
  height: $heightHeader;
  overflow-y: hidden;

  .constrain {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav {
  z-index: 11;
  width: 80px;
  cursor: pointer;

  .top, .middle, .bottom {
    margin-top: 15px;
    width: 100%;
    height: 10px;
    background-color: $white;

    &:first-child { margin-top: 0; }
  }

  &:hover {
    .top, .middle, .bottom { background-color: $brand; }
  }
  
  @include toWidth(sm) {
    width: 60px;

    .top, .middle, .bottom {
      margin-top: 10px;
      height: 7px;
    }
  }
}
