@use "../var/colour" as *;
@use "../var/layout" as *;

@use "../function/media" as *;

@use "../component/button";

main {
  position: relative;
  min-height: $heightMain;

  strong, b { font-weight: 500; }
}

.page.home main {
  height: $heightMain;
  min-height: auto;
}

.constrain {
  height: 100%;

  .image-pizza {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    @include toWidth(md) { right: -10%; }
    @include toWidth(sm) { right: -20%; }
    @include toWidth(xs) { right: -30%; }

    img {
      position: absolute;
      top: -7.5vh;
      right: 0;
      max-width: none;
      height: 84vh;
    }
  }

  .content {
    text-align: justify;
    column-count: 2;
    column-gap: 2.0rem;
    column-rule: 1px solid darken($white, 67%);

    @include toWidth(sm) { column-count: 1; }

    h1 {
      margin-bottom: 2.5rem;
      text-align: left;
      color: $accent;
      column-span: all;
    }

    p {
      margin-bottom: 0.75rem;
      @include toWidth(sm) { margin-bottom: 0.6rem; }
    }
    strong, b { color: white; }
    a {
      color: $accent;
      font-weight: 500;
      &:hover { color: lighten($accent, 15%); }
    }
  }
}

.home {
  .strapline {
    display: flex;
    flex-wrap: wrap;

    .i, .want, .pizza, .now {
      display: block;
      margin-top: min(3vh, 2.5rem);
      width: auto;
      background-color: $white;

      div {
        display: flex;
        align-items: center;
        padding: 0 14px;
        font-weight: 900;
        color: $black;
      }
    }
    .i, .want, .now {
      div {
        font-size: clamp(4.0rem, 8.0rem, 12.5vw);
        line-height: 1.0;
      }
    }
    .pizza {
      color: white;
      background-color: $accent;
      div {
        font-size: clamp(8.0rem, 16.0rem, 25vw);
        line-height: 0.92;
      }
    }
  }
}

.wrap-start {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
  .start {
    position: absolute;
    bottom: 5vh;
    font-weight: 800;
    color: $black;
    background-color: darken($accent, 5%);

    &:hover {
      color: $white;
      background-color: darken($accent, 15%);
    }

    @include fromWHtoWH(md, md, lg, md) {
      right: 25%;
    }
  }
}