@use "../var/colour" as *;
@use "../var/layout" as *;

@use "../function/media" as *;

.menu {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($background, 0.97);
  overflow: hidden;

  .inner {
    display: flex;
    flex-wrap: wrap;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 400px;

    a {
      display: block;
      position: static;
      padding: 10px 0;
      width: 100%;
      font-size: 2.75rem;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.1rem;
      color: $white;
      border-top: 5px solid $white;

      &:last-child { border-bottom: 5px solid $white; }
      &:hover { color: $brand; }
      &.active { color: $accent; }
    }

    @include toWidth(sm) {
      a {
        font-size: 2.0rem;
        padding: 7px 0;
      }
    }
  }
}