/*
  Tailwind's default breakpoints:
  If the following are changed, be sure to also update
  tailwind.config.js as described here...
  https://tailwindcss.com/docs/responsive-design#customizing-breakpoints
*/
$media: (
  ss: 280px,
  xs: 350px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xx: 1536px
);

@mixin toWidth($size) {
  @media screen and (max-width: map-get($media, $size)) {
    @content;
  }
}

@mixin fromWHtoWH($sizeX1, $sizeY1, $sizeX2, $sizeY2) {
  @media screen and (min-width: map-get($media, $sizeX1)) and (min-height: map-get($media, $sizeY1)) and (max-width: map-get($media, $sizeX2)) and (max-height: map-get($media, $sizeY2)) {
    @content;
  }
}